.header {
    background-color: #1f0e46;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: ". . title . navbar";
}

.title-container {
    background-color: yellow;
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-title {
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
}

.navbar {
    background-color: yellowgreen;
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    background-color: orange;
    display: flex;
    align-items: center;
}

li {
    background-color:red;
    list-style: none;
    cursor: pointer;
}

.list-item {
    color: white;
    padding: 0.5em;
}